MYSQL_ROOT_PASSWORD=change-me
JWT_SECRET=change-me
INTERNAL_API_KEY=change-me
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
CORS_ALLOWED_ORIGINS=http://localhost:3000
AI_SERVICE_URL=http://host.docker.internal:5000/api/recognize
UNIVERSITY_INDEX_BASE_URL=
UNIVERSITY_INDEX_API_KEY=
UNIVERSITY_INDEX_TIMEOUT=5000
